@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-section-title: #4f4f4f;
  --color-section-title-bg: #ffffff;
  --color-text: #646464;

  --color-grey-1: #d8d8d8;
  --color-grey-2: #8c8c8c;
  --color-grey-3: #4f4f4f;

  --color-accent-red: #991d1d;

  /*breakpoints*/
  --breakpoint-phone-sm: 360px;
  --breakpoint-phone-md: 412px;
  --breakpoint-phone-lg: 480px;
  --breakpoint-tablet-sm: 600px;
  --breakpoint-tablet-md: 768px;
  --breakpoint-tablet-lg: 820px;
  --breakpoint-desktop-sm: 1024px;
  --breakpoint-desktop-md: 1280px;
  --breakpoint-desktop-lg: 1440px;
  --breakpoint-desktop-xl: 1728px;
  --breakpoint-desktop-2xl: 2560px;
}

/*DARK MODE - doesn't have all the default colors altered, only the ones that need to be changed for better contrast and visibility*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #646464;
    --color-section-title: #8c8c8c;
    --color-text: #ffffffb1;
    --color-section-title-bg: #4f4f4f;

    --color-grey-3: #ffffffb1;

    --color-accent-red: #632626;
  }
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Raleway-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Raleway-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Raleway-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Raleway-ExtraBold.woff2") format("woff2");
}

/*Initially, I tested across all popular viewport sizes and identified visual issues at intermediate breakpoints. After optimization, I removed duplicates and maximized the use of clamp(). I understand that in production, 4-5 breakpoints are typically sufficient, but for pixel-perfect design accuracy in my portfolio, I decided to maintain detailed responsiveness. In a real project, I would coordinate this approach with the designer and team. Sorry.*/

:root {
  /*div = divider*/
  --hero-div-w: 3px;
  --hero-line-height: clamp(2.25rem, calc(0.353rem + 10.039vw), 3.5rem); /*the line height of the h1 in the hero section*/
  --h1-font-size: clamp(3.5rem, calc(0.824rem + 11.765vw), 7rem); /*the font size of the h1 (visible Portfolio element in the hero section*/
  --year-font-size: clamp(1.5rem, calc(0.706rem + 3.529vw), 2.75rem); /*the font size of the year in the hero section*/
  --name-font-size: clamp(1.75rem, calc(0.559rem + 5.294vw), 3.5rem); /*the font size of the name in the hero section*/
  --name-pl-size: 40%; /*left padding for the name element*/

  --hero-bot-div-top: clamp(7.5rem, calc(0.577rem + 30.769vw), 8.5rem); /*the top position of the bottom divider in the hero section*/
  --hero-bot-div-min-h: 36vh; /*min-h of the bottom divider in the hero section*/
  --hero-bot-div-left: clamp(1.75rem, calc(0.882rem + 3.846vw), 3.25rem); /*the left position of the bottom divider in the hero section*/
  --hero-top-div-left: 1rem; /*the left position of the top divider in the hero section*/
  --hero-top-div-min-h: 10.5rem; /*the min-h of the top divider in the hero section*/

  --header-font-size: clamp(0.875rem, 0.1196rem + 4.3478vw, 1.25rem); /* font size for the header */

  .section-vh {
    min-height: 50dvh; /*the min-height of the sections, set in dvh to ensure it adapts to mobile browsers' dynamic viewport height changes*/
  }
  --section-top-div-top: 18px; /*the top position of the top divider in the section*/
  --section-top-div-height: 64px; /*the height of the top divider in the section*/
  --section-bot-div-height: 88px; /*the height of the bottom divider in the section*/
  --section-bot-div-top: 148px; /*the top position of the bottom divider in the section*/
  --part-label: clamp(1.2rem, calc(0.618rem + 2.909vw), 2.8rem);
  /*font size for sections' parts' labels (Part 1, Part 2, etc.) */

  --font-body-sm: clamp(0.75rem, -0.1196rem + 4.3478vw, 1rem); /*font size for projects' short descriptions */
  --font-section-label: clamp(1.5rem, 0.1765rem + 5.8824vw, 3rem);
  /* font size for sections' labels (titles), e.g., About, Projects, Contacts */
  --font-page-number: clamp(1.25rem, 0.9868rem + 1.1696vw, 2.25rem); /*font size for page numbers */

  --max-w-text-sm: clamp(15rem, calc(2.647rem + 54.902vw), 29rem); /* max-w of the text container for <768px */
  --max-w-text-lg: clamp(23rem, calc(9.182rem + 21.591vw), 32.5rem); /* max-w of the text container for ~>768px */

  --contact-title-size: clamp(3rem, 2.1429rem + 4.2857vw, 6rem); /* the font size of the title in the contacts section */
  --contacts-div-bot-top: 68px; /*the top position of the bottom divider in the contacts section*/
  --contacts-div-bot-height: 550px; /*the height of the bottom divider in the contacts section*/
}

@media (min-width: 360px) {
  :root {
    --section-top-div-height: 120px;
    --section-bot-div-height: 144px;
    --section-bot-div-top: 208px;
  }
}

@media (min-width: 360px) and (min-height: 800px) {
  :root {
    --hero-bot-div-min-h: 40vh;

    --section-top-div-height: 136px;
    --section-bot-div-height: 154px;
    --section-bot-div-top: 228px;
  }
}

@media (min-width: 375px) {
  :root {
    --section-bot-div-height: 164px;
  }
}

@media (min-width: 390px) {
  :root {
    --section-top-div-height: 104px;
    --section-bot-div-top: 200px;
    --section-bot-div-height: 128px;

    .section-vh {
      min-height: 40dvh;
    }
  }
}

@media (min-width: 412px) {
  :root {
    --hero-bot-div-top: clamp(8.5rem, calc(5.213rem + 12.766vw), 10rem);
    --year-font-size: 1.75rem;
    --h1-font-size: 4.5rem;
    --hero-line-height: 3rem;

    --section-bot-div-height: 168px;
    --section-bot-div-top: 188px;

    --contacts-div-bot-height: 572px;
  }
}

@media (min-width: 480px) {
  :root {
    --hero-bot-div-top: clamp(8.5rem, calc(7.192rem + 5.447vw), 10rem);
    --hero-bot-div-min-h: 28vh;

    --section-top-div-height: 88px;
    --section-bot-div-top: 178px;
    --section-bot-div-height: 152px;
  }
}

/*600-820PX: TABLETS*/
@media (min-width: 600px) {
  :root {
    --hero-bot-div-min-h: 25.5vh;
    --hero-bot-div-top: 9.5rem;
    --hero-bot-div-left: 3.25rem;
    --hero-line-height: 3.5rem;
    --h1-font-size: 5.875rem;
    --name-pl-size: 46%;

    --section-bot-div-top: 194px;

    --contacts-div-bot-height: 520px;
    --contacts-div-bot-top: 82px;
  }
}

@media (min-width: 768px) {
  :root {
    --h1-font-size: clamp(7rem, calc(5.357rem + 2.679vw), 8.75rem);
    --year-font-size: clamp(2.75rem, calc(2.554rem + 0.298vw), 3rem);
    --name-pl-size: 40%;
    --name-font-size: clamp(3.5rem, calc(2.786rem + 1.19vw), 4rem);
    --hero-bot-div-top: 11.5rem;
    --hero-bot-div-min-h: 26vh;
    --hero-line-height: 4.5rem;

    --section-top-div-height: 104px;
    --section-bot-div-height: 168px;
    --section-bot-div-top: 222px;
    .section-vh {
      min-height: 40dvh;
    }

    --contacts-div-bot-height: 540px;
  }
}

@media (min-width: 820px) {
  :root {
    --h1-font-size: clamp(7rem, calc(4.679rem + 3.721vw), 8.75rem);
    --hero-bot-div-top: 11.375rem;
    --hero-bot-div-min-h: 32vh;

    --section-top-div-height: 132px;
    --section-bot-div-top: 256px;
    --section-bot-div-height: 196px;
  }
}

/*DESKTOPS*/
@media (min-width: 1024px) {
  :root {
    --hero-bot-div-top: 21.725rem;
    --hero-bot-div-min-h: 48vh;
    --name-pl-size: 30%;
    --hero-div-w: 4px;

    --contacts-div-bot-top: 100px;
    --contacts-div-bot-height: 380px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  :root {
    --hero-bot-div-min-h: 14vh;

    --section-bot-div-height: 228px;
    --section-bot-div-top: 300px;
    --section-top-div-height: 160px;
  }
}

@media (min-width: 1280px) {
  :root {
    --h1-font-size: clamp(7rem, calc(2.071rem + 8.036vw), 8.75rem);
    --hero-bot-div-top: 22.25rem;
    --hero-bot-div-min-h: 53vh;

    --section-bot-div-height: 204px;
    --section-bot-div-top: 264px;
    .section-vh {
      min-height: 60dvh;
    }

    --contacts-div-bot-top: 112px;
    --contacts-div-bot-height: 384px;
  }
}

@media (min-width: 1440px) {
  :root {
    --year-font-size: clamp(3rem, calc(1.5rem + 2.083vw), 3.75rem);
    --h1-font-size: clamp(8.75rem, calc(4.911rem + 4.821vw), 14.375rem);
    --hero-line-height: clamp(5rem, calc(3.571rem + 1.786vw), 8rem);
    --name-font-size: clamp(4rem, calc(2.167rem + 2.604vw), 5.25rem);
    --name-pl-size: 26%;
    --hero-bot-div-top: 26rem;
    --hero-bot-div-left: 3.5rem;
    --hero-bot-div-min-h: 50vh;
    --hero-top-div-left: 1.5rem;
    --hero-top-div-min-h: 12.5rem;

    --section-top-div-height: 160px;
    --section-bot-div-height: 228px;
    --section-bot-div-top: 300px;
  }
}

@media (min-width: 1728px) {
  :root {
    --hero-bot-div-top: 28rem;
    --hero-bot-div-min-h: 52vh;
    --hero-top-div-min-h: 14rem;

    --section-bot-div-height: 272px;
    --section-top-div-height: 232px;

    --contacts-div-bot-height: 490px;
    --contacts-div-bot-top: 172px;
  }
}

@media (min-width: 1920px) {
  :root {
    --name-font-size: 4.5rem;
    --name-pl-size: 24%;
    --hero-bot-div-min-h: 56vh;
    --hero-top-div-min-h: 13.5rem;

    --section-bot-div-top: 416px;
    --section-bot-div-height: 316px;
    --section-top-div-height: 260px;
  }
}

@media (min-width: 1920px) and (min-height: 1200px) {
  :root {
    --hero-bot-div-min-h: 60vh;
    --hero-top-div-min-h: 13.725rem;

    --section-bot-div-top: 456px;
    --section-bot-div-height: 352px;
    --section-top-div-height: 300px;
  }
}

@media (min-width: 1920px) and (min-height: 1440px) {
  :root {
    --hero-bot-div-top: 30rem;
    --hero-bot-div-min-h: 65vh;
    --hero-line-height: 7rem;
    --hero-top-div-min-h: 14.5rem;

    --section-bot-div-top: 400px;
    --section-bot-div-height: 300px;
    --section-top-div-height: 244px;

    .section-vh {
      min-height: 50dvh;
    }
  }
}

@media (min-width: 2560px) {
  :root {
    --year-font-size: 3.75rem;
    --h1-font-size: 14.375rem;
    --name-font-size: 6.75rem;
    --hero-bot-div-top: 36rem;
    --hero-bot-div-min-h: 52vh;
    --hero-top-div-min-h: 18rem;
    --hero-line-height: 9rem;

    --section-bot-div-top: 428px;
    --section-bot-div-height: 316px;
    --section-top-div-height: 240px;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family:
    "Raleway",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  position: relative;
  padding: 0;
}

html,
body,
:root {
  height: 100%;
}

.circle-drop {
  animation: dropBounce 800ms ease-out forwards;
}

@keyframes dropBounce {
  0% {
    opacity: 0;
    transform: translateY(-96px);
  }
  5% {
    opacity: 1;
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-16px);
  }
  85% {
    transform: translateY(0);
  }
  92% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
