@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-section-title: #4f4f4f;
  --color-grey-1: #d8d8d8;
  --color-grey-2: #8c8c8c;
  --color-grey-3: #4f4f4f;
  --color-text: #646464;
  --color-section-title-bg: #ffffff;

  --color-accent-grey: #928a97;

  --color-accent-red: #991d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #646464;
    --color-section-title: #8c8c8c;

    --color-text: #ffffffb1;
    --color-grey-3: #ffffffb1;
    --color-accent-red: #632626;
    --color-section-title-bg: #4f4f4f;
  }
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Raleway-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Raleway-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Raleway-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Raleway-ExtraBold.woff2") format("woff2");
}

:root {
  --vh: 1vh;
}

.app-fullscreen {
  min-height: calc(var(--vh) * 100); /* JS fallback */
  min-height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
}

.section-vh-50 {
  min-height: calc(var(--vh, 1vh) * 50);
  min-height: 50dvh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family:
    "Raleway",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

html,
body,
:root {
  height: 100%;
}

.circle-drop {
  animation: dropBounce 800ms ease-out forwards;
  animation-fill-mode: both;
}

@keyframes dropBounce {
  0% {
    opacity: 0;
    transform: translateY(-96px);
  }
  5% {
    opacity: 1;
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-16px);
  }
  85% {
    transform: translateY(0);
  }
  92% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
